* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: "IBM Plex Sans", "Roboto", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    user-select: none;
}

body {
    width: 380px;
    height: 550px;
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.option-container {
    background-color: #333;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 300px;
}

.option-container > * {
    margin: 5px;
}

.option-range[type='range'] {
    width: 150px;
    height: 6px;
}

.option-range[type='range']::-moz-range-track {
    height: 6px;
}

.equalizer-container {
    border-radius: 5px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.equalizer-range-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.equalizer-range[type='range'] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 150px;
    width: 6px;
    margin: 5px 15px;
}

.equalizer-range[type='range']::-moz-range-track {
    width: 6px;
}

input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    background: #555;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.25s;
}

input[type='range']::-moz-range-thumb:active {
    border-radius: 2px;
    transform: rotate(90deg)
}


input[type='range']::-moz-range-track {
    background: #222;
    border-radius: 3px;
}

/* Chrome / WebKit input[type='range'] track */
input[type='range']::-webkit-slider-runnable-track {
    height: 6px;
    background: #222;
    border-radius: 3px;
}

/* Chrome / WebKit input[type='range'] thumb */
input[type='range']::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    border: 2px solid #fff;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px; /* Aligns thumb with track */
    transition: 0.25s;
}

input[type='range']::-webkit-slider-thumb:active {
    border-radius: 2px;
    transform: rotate(90deg);
}

canvas {
    border-radius: 5px;
    border: 1px solid #444;
}